<!DOCTYPE html>
<html lang="en">
<head>
  
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Phoenix Database</title>
  <meta name="description" content="Phoenix Guild Database">
  <meta name="author" content="Phoenix Guild">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="Skeleton-2.0.4/css/normalize.css">
  <link rel="stylesheet" href="Skeleton-2.0.4/css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="Skeleton-2.0.4/images/favicon.png">
  
  <script src="https://lyr-01.000webhostapp.com/sorttable.js"></script>
  
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <p>
      <h1>Welcome to Phoenix, Scum</h1>
      <h5>Your Meager Contributions Detailed Below</h5>
    </p>
    <div class="row">
      <div class="three columns">
        <a class="button" href="https://lyr-01.appspot.com/gtable">Guild Stats</a></br>
        <a class="button" href="https://lyr-01.appspot.com/gtable?display=donations">Guild Donations</a></br>
        <a class="button" href="https://lyr-01.appspot.com/stats">Personal Stats</a></br>
        <!--
		<button>Jade Skills</button></br>
        <button>Equipment Level</button></br>
		-->
        <a class="button" href="https://lyr-01.appspot.com/contest">Contests</a></br>
        <!--        
		<p><h5>Calculate</h5></p>
        <button>Equipment Cost</button></br>
        <button>Jade Upgrade Cost</button></br>
        <button>TS Info</button></br>
        <p><h5>Update</h5></p>
        <button>Equipment</button></br>
        <button>Jade Skills</button></br>
		-->
      </div>
      <div class="nine columns">
        <table class="sortable u-full-width">
          <thead>
            <th>Name</th>
            <th>Rank</th>
            <th>GDP</th>
            <th>GDP Spent</th>
            <th>Weekly GDP</th>
            <th>RP Gained</th>
            <th>Double</th>
            <th>7 Day Kills</th>
            <th>14 Day Kills</th>
            <th>30 Day Kills</th>
          </thead>
          {% for member in data.members|sort(case_sensitive=True, attribute='username') %}
            <tr>
              <td><strong>{{ member.username }}</strong></td>
              <td></td>
              <td>{{ member.gdp['dp'] }}</td>
              <td>{{ member.gdp['dp_spent'] }}</td>
              <td>{{ member.gdp['weekly_dp'] }}</td>
              <td>{{ member.rp['donated'] }}</td>
              <td>{{ member.donations['double'] }}</td>
              {% if member.kills7 %}
              {% if member.kills7 < 15000 %}
              <td class="u-red">{{ member.kills7 }}</td>
              {% else %}
              <td>{{ member.kills7 }}</td>
              {% endif %}
              <td>{{ member.kills14 }}</td>
              <td>{{ member.kills30 }}</td>
              {% else %}
              <td></td>
              <td></td>
              <td></td>
              {% endif %}
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
