<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Phoenix Database</title>
  <meta name="description" content="Phoenix Guild Database">
  <meta name="author" content="Phoenix Guild">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="Skeleton-2.0.4/css/normalize.css">
  <link rel="stylesheet" href="Skeleton-2.0.4/css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="Skeleton-2.0.4/images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <p>
      <h1>Guild Mapping Contests</h1>
    </p>
    <div class="row">
      <div class="three columns">
        <a class="button" href="https://phoenixdb-222701.appspot.com/gtable">Home</a></br>
        <h5>Current Contests</h5>
        {% for item in active_contests %}
        {% if item == current %}
        <a class="button button-primary" href={{ ["https://phoenixdb-222701.appspot.com/contest?id=", current['id']]|join }}>{{ current['name'] }}</a></br>
        {% else %}
        <a class="button" href={{ ["https://phoenixdb-222701.appspot.com/contest?id=", item['id']]|join }}>{{ item['name'] }}</a></br>
        {% endif %}
        {% endfor %}
        <p><h5>Upcoming Contests</h5></p>
        {% if upcoming_contests %}
        <ol>
          {% for item in upcoming_contests %}
          <li>{{ [item['name'], " ", item['start']]|join }}</li>
          {% endfor %}
        </ol>
        {% else %}
        <p>None</p>
        {% endif %}
      </div>
      <div class="nine columns">
        {% if current %}
        <h3>{{ current.name }}</h3>
        <h5>{{ [current.start, " - ", current.end]|join }}</h5>
        <table class="u-full-width">
          <thead>
            <th>Rank</th>
            <th>Name</th>
            <th>GDP</th>
          </thead>
          {% for member in scores|sort(reverse=True, attribute='score') %}
            <tr>
              <td><strong>{{ [loop.index, "."]|join }}</strong></td>
              <td>{{ member.member_name }}</td>
              <td>{{ member.score }}</td>
            </tr>
          {% endfor %}
        </table>
        {% else %}
        <h3>Sorry, No Recent Contests<h3>
        {% endif %}
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
